<style type="text/css">
    #viewerDiv {
        width:100%;
        height:600px;
    }
 </style>
 <meta charset="utf-8" />
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
 <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
 <div id="viewerDiv"></div>
 <script type="text/javascript">
     window.onload= function() {
         
        var layers = {};
        var overlays = {};//préparation du sélécteur
        var map = L.map("viewerDiv").setView([48.845,2.424],10) ;
        layers['OpenStreetMap'] = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>'});

        layers["Plan IGN V2"] = L.tileLayer(
            "https://wxs.ign.fr/choisirgeoportail/geoportail/wmts?" +
            "&REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0" +
            "&STYLE=normal" +
            "&TILEMATRIXSET=PM" +
            "&FORMAT=image/png"+
            "&LAYER=GEOGRAPHICALGRIDSYSTEMS.PLANIGNV2"+
            "&TILEMATRIX={z}" +
            "&TILEROW={y}" +
            "&TILECOL={x}",
            {
                minZoom : 0,
                maxZoom : 18,
                        attribution : "IGN-F/Geoportail",
                tileSize : 256 // les tuiles du Géooportail font 256x256px
            }
        ).addTo(map) ;


        layers['Orthophoto aerienne'] = L.tileLayer('https://wxs.ign.fr/{ignApiKey}/geoportail/wmts?'+
            '&REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&TILEMATRIXSET=PM'+
            '&LAYER={ignLayer}&STYLE={style}&FORMAT={format}'+
            '&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}',
            {
            ignApiKey: 'choisirgeoportail',
            ignLayer: 'ORTHOIMAGERY.ORTHOPHOTOS',
            style: 'normal',
            format: 'image/jpeg',
            service: 'WMTS',
            minZoom : 0,
            maxZoom : 18,
            attribution: '&copy; <a href="http://www.ign.fr/">IGN</a>'
        });
        
        overlays['cadastre'] =L.tileLayer.wms('http://mapsref.brgm.fr/wxs/refcom-brgm/refign', 
                          {layers: 'PARVEC_BATIMENT',format: 'image/png',transparent:true});

       

        
        layers['Geologie'] = L.tileLayer.wms('http://geoservices.brgm.fr/WMS-C/?', {
            layers: 'GEOLOGIE',
            attribution: '&copy; <a href="http://geoservices.brgm.fr/">BRGM</a>'

        }); 
        
        

        layers['Places']= L.tileLayer.wms('http://ows.mundialis.de/services/service?', {
            layers: 'OSM-Overlay-WMS'
        }),
    
        layers['Topography, then places']= L.tileLayer.wms('http://ows.mundialis.de/services/service?', {
            layers: 'TOPO-WMS,OSM-Overlay-WMS'
        }),
    
        layers['Places, then topography']= L.tileLayer.wms('http://ows.mundialis.de/services/service?', {
            layers: 'OSM-Overlay-WMS,TOPO-WMS'
        })
        
        layers['NASA']= L.tileLayer.wms('https://api.nasa.gov/planetary/earth/imagery?', {
        })
        
        layers['Opentopomap'] = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
            // maxZoom: 17,
            attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
        });

        
        layers['Carte IGN'] = L.tileLayer('https://wxs.ign.fr/{ignApiKey}/geoportail/wmts?apikey=DEMO_KEY'+
            '&REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&TILEMATRIXSET=PM'+
            '&LAYER={ignLayer}&STYLE={style}&FORMAT={format}'+
            '&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}',
            {
            ignApiKey: 'kxth16lb8jg5ht0knkysb1ok',
            ignLayer: 'GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN25TOUR',
            style: 'normal',
            format: 'image/jpeg',
            service: 'WMTS',
            minZoom : 0,
            maxZoom : 18,
            attribution: '&copy; <a href="http://www.ign.fr/">IGN</a>'
        });


        L.control.layers(layers,overlays).addTo(map);
     }
 </script>
 