/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px;
}

.map-border {
  border: 5px solid orange;
  height: 100%;
}

#map {
  height: 100%;width: 80%;
}